@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>O projeto mais desafiador foi no ano de 2021, quando estava na Dextra. Participei de um projeto, onde foi desenvolvido um portal 
    para uma clínica de câncer. O projeto foi feito do zero, e atuei sozinho como backend. A arquitetura foi feita em DDD e foi utilizado
    .Net core como tecnologia. O projeto foi uma api para consumo do frontend; Possuía testes unitários feitos em NUnit;
    Acesso ao banco de dados (SQL Server) feito com Entity Framework; Na parte de qualidade de código, foi utilizado o Sonar Qube;
    CI/CD com deploys automáticos através dos commits (Criação do arquiteto);
    O maior desafio foi atuar sozinho, pois precisei gerenciar as tarefas e o tempo de tudo referente ao backend, o contato direto com o cliente
    para apresentação de demos e explicação do processo. Isso me ajudou muito na parte pessoal, para perder a timidez e ter mais contato com as pessoas
    e também na parte profissional, como tomada de decisões e gerenciamento de tempo.
</p>
